@import url("https://fonts.googleapis.com/css?family=Gruppo");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap");

.logo {
  padding-top: 100px;
  padding-bottom: 50px;
}

.title h1 {
  font-family: "Montserrat";
  font-weight: 1000;
  font-size: 40px;
}

.title {
  padding-bottom: 30px;
}

.title-centered {
  font-family: "Gruppo";
  font-weight: 8000;
  font-size: 35px;
  text-align: center;
  padding-bottom: 30px;
  color: #f21131;
}
.bodyText h1 {
  font-family: "Montserrat";
  font-weight: 1000;
  text-align: center;
  margin-left: 105px;
  margin-bottom: 50px;
}
.bodyText h2 {
  font-family: "Montserrat";
  font-weight: 1000;
  font-size: 35px;
  padding-top: 15px;
}

.bodyText li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
}

.bodyText p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.bodyText {
  padding-bottom: 20px;
}

.bodyText Link {
  font-family: "Gruppo";
  font-weight: 800;
  font-size: 20px;
  color: #f21131;
  text-transform: uppercase;
}
.bodyText Link:hover {
  color: #c30000;
  text-transform: uppercase;
  text-decoration: none;
}

.white-text {
  color: #fff;
}
.white-text:hover {
  color: #fff;
  text-decoration: none;
}

.buttonBlock .btn {
  background-color: #f21131;
  color: #fff;
  border-color: #f21131;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}

.buttonBlock .btn:hover {
  background-color: #c30000;
  border-color: #c30000;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}

.buttonBlock {
  padding-bottom: 40px;
}
