@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* #C30000 #6C0000 */

.mainNav {
	padding-top: 10px;
	padding-bottom: 10px;
    font-family: Andale Mono, monospace;
}

.mainNav .brand {
  font-size: 36px;
  margin: 0;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #C30000;
  transition: all .3s;
}

.mainNav .brand:hover {
  color: #6C0000;
  transition: all .3s;
}

.mainNav .links {
	font-size: 20px;
	padding-right: 300px;
}

.mainNav .links .link {
	padding-left: 30px;
	color: white;
}

.mainNav .links .link:hover {
	padding-left: 30px;
	color: #C30000;
}

.mainNav .links .dropDowns .subLink {
    font-family: Andale Mono, monospace;
	font-weight: 600;
}

@media only screen and (max-width:992px) {
  .mainNav .brand {
    padding-left: 20px;
  }
}

@media only screen and (min-width:992px) {
  .mainNav .brand {
    padding-left: 300px;
  }
}


.masthead {
	margin-bottom:50px;
	background:no-repeat center center;
	background-color:#868e96;
	background-attachment:scroll;
	position:relative;
	background-size:cover;
	background-image: url('../assets/img/header.jpg');
}

.masthead .overlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	background-color:#212529;
	opacity:.5
}

.masthead .page-heading,.masthead .post-heading,.masthead .site-heading {
	padding:200px 0 150px;
	color:#fff
}

@media only screen and (min-width:768px){
.masthead .page-heading,.masthead .post-heading,.masthead .site-heading {
	padding:200px 0
 }
}